html,
body {
  background-color: #C6E4FF;
  background-image: url("./../public/sailboat.png");
  background-repeat: repeat-x;
  background-size: 500px;
  background-position-y: center;
  background-position-x: center;
  height: 100%;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
