.box {
  background: #ffffff;
  width: 15em;
  height: 10em;
  margin: 0;
  text-align: center;
  border-collapse: separate;
  border-radius: 10px;
  /* border-color: #466582; */
  flex-direction: row; 

}

.box-container{
  padding: 5px;
  margin: 10px auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 40%;
  transition: transform .6s ease-in-out;
}

.box:hover .image {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
  transform: rotate(360deg);
}

.box:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
}
