.box {
  background: rgb(204, 240, 201);
  flex: 3;
  width: 15em;
  height: 10em;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border-collapse: separate;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 40%;
}
