.box {
  background: #ffffff;
  width: 15em;
  height: 10em;
  margin: 0;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-collapse: separate;
  border-radius: 10px;
  /* border-color: #466582; */
  flex-direction: row; 
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 40%;
}

.box:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.10);
}
