@media (min-width: 1024px) {
  .day {
    padding: 8px;
    margin: 8px;
    width: 125px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .date-num {
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }

  .week-day {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3a3a3a;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }

  .carpools {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}